@import '../variables.css';
@import '../shared.css';

.continue-game{
  text-align: center;
  background-color: #9A4444;
  z-index: 10;
  position: relative;
  padding: 10px;
  h4{
    color: var(--orange);
    margin: 0px;
  }
}

.homepage-wrapper{
  z-index: 0;
  position: relative;
  @mixin floatFix;
}

.main-banner{
  height: 300px;
  @mixin floatFix;
  @mixin shadow;
  background-image: url('banner.png');

  /* shadow in left */
  &:before{
    content:'';
    width: 200px;
    position: absolute;
    left: 0;
    background: gray;
    height: 300px;
    /* Rectangle 1 Copy 4: */
    background: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    opacity: 0.3;
  }
  /* shadow in right */
  &:after{
    content:'';
    width: 200px;
    top: 40px;
    position: absolute;
    right: 0;
    background: gray;
    height: 300px;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -moz-linear-gradient(right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    opacity: 0.3;
    padding-left: 0;
  }
  .main-panel{
    @mixin max-width;
    @mixin floatFix;
  }
  img.main-banner-background{
    position: absolute;
    z-index: -1;
    left: 0;
    /*height: 300px;*/
    /*overflow: hidden;*/
  }
  ul.feature-panel{
    z-index: 5;
    position: relative;
    width: 300px;
    height: 300px;
    float: right;
    cursor: pointer;
    @mixin shadow;
    background-image: linear-gradient(to top, #E78840 0%, #F7665B 100%);
    background-image: -webkit-linear-gradient(top, #E78840 0%, #F7665B 100%);
    background-image: -moz-linear-gradient(top, #E78840 0%, #F7665B 100%);
    background-image: -ms-linear-gradient(top, #E78840 0%, #F7665B 100%);
    &:before{
      content: '';
      background-color: white;
      width: 80%;
      margin: 0 auto;
      height: 1px;
      position: absolute;
      left: 26px;
      top: 150px;
      opacity: 0.1;
    }
    &:after{
      content: '';
      background-color: white;
      height: 80%;
      width: 1px;
      position: absolute;
      right: 150px;
      opacity: 0.1;
      top: 26px;
    }
    li{
      text-align: center;
      display: inline;
      float: left;
      width: 150px;
      height: 150px;
      padding-top: 30px;
      @mixin transition;
      &:hover, &:focus{
        background-color: rgba(255, 188, 77, 0.19);
      }
      img{
        height: 50px;
        display: block;
        margin: 0 auto;
        position: relative;
      }
      h4{
        color: white;
      }
    }
  }
}

/*.product-content-wrapper{
  width: 100%;
  background: white;
  z-index: 10;
  position: relative;
  @mixin floatFix;
  -webkit-box-shadow: 0px -3px 10px -3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px -3px 10px -3px rgba(0,0,0,0.4);
  box-shadow: 0px -3px 10px -3px rgba(0, 0, 0, 0.2);
}*/



/*======== product =========*/
$sidebar-width: 230px;

$textbook-cell-width: 180px;

@define-mixin product-wrapper-padding {
  padding: 30px 15px;
}

.product-container{

  background-color: white;
  @mixin floatFix;
  @mixin max-width;

  .product-sidebar-wrapper {
    @mixin floatFix;
    /*display: inline-block;*/
    float: left;
    width: $sidebar-width;
    @mixin product-wrapper-padding;

    ul.product-sidebar-ul{

      .product-sidebar-title {
        font-size: 1.2em;
        font-weight: bold;
        color: #666;
        margin: 0 0 15px 0;
      }
      .product-sidebar-title:after {
        display:block;
        margin-top: 2px;
        height: 1px;
        background: #CCC;
        content: "";
      }
      .product-sidebar-row {
        margin-bottom: 20px;
      }


      .filter-title {
        margin: 0 0 10px 0;
      }

      ul.product-rankings {
        li.product-ranking-product-row{
          margin-bottom: 10px;
          .product-ranking-product-index {
            font-family: "Helvetica Neue";
            font-size: 0.875em;
            width: 24px;
            float: left;
            color: black
          }
          .product-ranking-product-wrapper {
            margin-left: 24px;

            .product-ranking-product-name {
              font-size: 0.875em;
              /*font-weight: bold;*/
              color: #000;
              width: 100%;
              margin: 0;
              font-weight: normal;
              @mixin crop-line;
            }
            .product-ranking-product-publisher {
              font-size: 0.75em;
              color: #888;
              width: 100%;
              margin: 0;
              font-weight: normal;
              @mixin crop-line;
            }
          }
        }
      }
    }
  }

  .product-content{
    margin-left: $sidebar-width;
    @mixin product-wrapper-padding;
    /*float: right;*/
    /*width: 100%;*/

    .product-content-title {
      font-size: 1.2em;
      font-weight: bold;
      color: #666;
      margin: 0 0 15px 0;
    }
    .product-content-title:after {
      display:block;
      margin-top: 2px;
      height: 1px;
      background: #CCC;
      content: "";
    }
    .product-content-row {
      margin-bottom: 20px;
    }

    li.product-content-textbook-bundle-wrapper {
      display: inline-block;
      vertical-align: top;

      /*margin: 5px;*/
    }

    li.product-content-textbook-wrapper {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.textbook-cell {
  /*display: inline-block;*/
  width: 150px;
  height: 150px;
  margin: 10px;

  img.textbook-cell-img {
    /*temp*/
    background: linear-gradient(#FFA040, #FF6000);
    padding: 10px;

    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 10px;
  }
  .textbook-cell-name {
    text-align: center;
    font-size: 0.875em;
    font-weight: normal;
    margin: 0.75em 0 0 0;
    @mixin crop-line;
  }
  .textbook-cell-publisher {
    text-align: center;
    font-size: 0.75em;
    font-weight: normal;
    margin: 0.5em 0 0 0;
    color: #A0A0A0;
    @mixin crop-line;
  }
}

.textbook-bundle-cell {
  width: 200px;
  height: 100px;
  img.textbook-bundle-cell-img {
    /*temp*/
    background: linear-gradient(#71E2FF, #0080FF);
    padding: 10px;

    display: block;
    margin: 0 auto;

    width: 160px;
    height: 100px;
    border-radius: 10px;
  }
}
